@*******************************************************************************************************
//  Index.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  01/15/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using System
@using GSF.Identity
@using GSF.Reflection
@using openECAClient.Model
@using RazorEngine.Templating
@inherits TemplateBase<AppModel>
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = Model.Global.ApplicationName;

    Version assemblyVersionInfo = AssemblyInfo.EntryAssembly.Version;
    string applicationVersion = assemblyVersionInfo.Major + "." + assemblyVersionInfo.Minor + "." + assemblyVersionInfo.Build;
}
@section StyleSheets {
    <style>
        /* Auto font resize CSS for system health window - targeting fixed 80 char width without wrap and
           allowing for responsive screen rearrangement when window is col-**-8 and on the right */
        @@media screen {
            .performance-statistics {
                font-size: 5.25px;
            }
        }
        
        @@media screen and (min-width: 430px) {
            .performance-statistics {
                font-size: 7px;
            }
        }

        @@media screen and (min-width: 470px) {
            .performance-statistics {
                font-size: 8px;
            }
        }

        @@media screen and (min-width: 515px) {
            .performance-statistics {
                font-size: 9px;
            }
        }

        @@media screen and (min-width: 550px) {
            .performance-statistics {
                font-size: 10px;
            }
        }

        @@media screen and (min-width: 600px) {
            .performance-statistics {
                font-size: 11px;
            }
        }

        @@media screen and (min-width: 635px) {
            .performance-statistics {
                font-size: 12px;
            }
        }

        @@media screen and (min-width: 685px) {
            .performance-statistics {
                font-size: 13px;
            }
        }

        @@media screen and (min-width: 725px) {
            .performance-statistics {
                font-size: 14px;
            }
        }

        @@media screen and (min-width: 768px) {
            .performance-statistics {
                font-size: 8px;
            }
        }

        @@media screen and (min-width: 992px) {
            .performance-statistics {
                font-size: 12px;
            }
        }

        @@media screen and (min-width: 1200px) {
            .performance-statistics {
                font-size: 14px;
            }
        }

        .badge-fixed {
            display:inline-block;
            width: 150px;
        }

       /*.iframe-rwd  {
            position: relative;
            padding-bottom: 65.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }

        .iframe-rwd iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }*/
    </style>
}
@section Scripts {
    <script>
        function updateTimestamps() {
            $("#localTime").html(new Date().formatDate());

            if (hubIsConnected) {
                dataHub.getServerTime().done(function (serverTime) {
                    $("#serverTime").html(serverTime.formatDate());
                });
            }
        }

        function updatePerformanceStatistics() {
            if (hubIsConnected)
                dataHub.getPerformanceStatistics().done(function (statistics) {
                    $("#performanceStatistics").html(statistics);
                });
        }

        $(window).on("hubConnected", function (event) {
            updatePerformanceStatistics();
            setInterval(updatePerformanceStatistics, 5000);
        });

        $(function () {
            updateTimestamps();
            setInterval(updateTimestamps, 1000);
        });

        //$(window).resize(function () {
        //    $("#fontSizeLabel").html("Font Size: " + $("#performanceStatistics").css("font-size") + ", Window Size: " + $(window).width().toString());
        //});
    </script>
}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">Quick Links</div>
            <div class="panel-body">
                <div class="btn-group-vertical btn-block">
                    <a href="UserDefinedTypes.cshtml" role="button" class="btn btn-primary" hub-dependent>Manage Data Structures</a>
                    <a href="UserDefinedMappings.cshtml" role="button" class="btn btn-default" hub-dependent>Manage Data Mappings</a>
                    <a href="GraphMeasurements.cshtml" role="button" class="btn btn-default" hub-dependent>Graph Measurements</a>
                    <a href="GenerateProject.cshtml" role="button" class="btn btn-default" hub-dependent>Generate Project</a>
                    @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" onclick="document.getElementById('ifrm').src='GraphMeasurementsPopup.cshtml?filterStr=VMDEV!TVA!BRADLEY:541;'">Show Selected Measurements in a Modal</button>*@
                    @*<a href="GraphMeasurementsPopup.cshtml?filterStr=VMDEV!TVA!BRADLEY:541;" class="btn btn-default">Show Selected Measurements in a Page</a>*@
                    <a href="Settings.cshtml" role="button" class="btn btn-default" hub-dependent>Settings</a>
                </div>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge badge-fixed" id="serverTime">@DateTime.UtcNow.ToString(Model.Global.DateTimeFormat)</span>Server&nbsp;Time
                <hr class="quarter-break"/>
                <span class="badge badge-fixed" id="localTime">@DateTime.UtcNow.ToString(Model.Global.DateTimeFormat)</span>Local&nbsp;Time
                <hr class="quarter-break"/>
                <span class="badge badge-fixed" id="currentUser">@UserInfo.CurrentUserID</span> Current User
            </li>
            <li class="list-group-item">
                <span class="badge badge-fixed" id="applicationVersion">@applicationVersion</span>App&nbsp;Version
            </li>
        </ul>
        <p class="text-info text-center small">@ViewBag.Request.RequestUri.ToString()</p>
        <!-- label class="small" id="fontSizeLabel"></label -->
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7">
        <div class="panel panel-default">
            <div class="panel-heading">System Health</div>
            <div class="panel-body">
                <pre class="performance-statistics" id="performanceStatistics">Loading&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh glyphicon-spin"></span></pre>
            </div>
        </div>
    </div>
</div>

@*<!-- Graph Measurements Popup Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-vertical-align-container">
        <div class="modal-dialog modal-md modal-vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="iframe-rwd">
                        <iframe id="ifrm" height="350" width="425" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>*@
